mixin listHeader
	each item in dataHeader
		if item == "SẢN PHẨM"
			li.nav-item.dropdown
				a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')= item
				.dropdown-menu(aria-labelledby="navbarDropdown")
					+listSubItems(headerSub1)
					+listSubItems(headerSub2)
					+listSubItems(headerSub3)
		else
			li.nav-item
				a.nav-link(href="#" class= (item=="TRANG CHỦ" ? "active" : ""))= item

mixin listSubItems(listItem)
	ul
		each items in listItem
			if items == listItem[0]
				h1= items
				li
					hr.dropdown-divider
			else
				li
					a.dropdown-item(href='#')= items

mixin listCart(image,name,price)
	li.dropdown__cart-item
		.dropdown__box
			.dropdown__image
				img(src= image, alt="khong co anh")
			.dropdown__content
				h2= name
				h3= price
			.dropdown__icon
				i.fa.fa-times

mixin promotionItem
	each item in promotionItem
		.col-md-4.col-12.promotion__item
			.icon.icon--promotion
				i(class= item.icon)
			p= item.desc




